<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aviso legal</title> 
    <link rel="stylesheet" href="CSS/estilos.css">
    <head class="header">
    </head>
    <main class="intro">
         <h1>Aviso legal</h1>
        <p>
            Este sitito web es un proyecto académico sin fines comerciales.
            Todos los contenidos, imagenes y textos han sido creados con fines educativos.
        </p>
        <p>
            Para cualquier consulta, puede contactarnos a través del formulario de contacto.
        </p>
    </main>
    <footer class="footer">
        <p>© 2025 Fondant.</p>
        <a href="index.html">Volver al inicio.</a>
    </footer>
</html>


