<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
<title>Contacto - Fondant</title>
<meta name="description" content="Contacta con Fondant, dirección y redes">
<link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <!--Header-->
    <header class="site-header">
        <div class="container header-inner">
         <a href="../index.html" class="brand"> <img src="../imagenes/logo.png" alt="Logo Fondant" class="logo"></a>  
         <nav class="main-nav" aria-label="Navegación principal">
            <a href="../index.html" class="nav-link">Inicio</a>
            <a href="productos.html" class="nav-link active">Productos</a>
            <a href="presupuesto.html" class="nav-link">Personalizados</a>
            <a href="contacto.html" class="nav-link">Contacto</a>
         </nav>
         </div>
    </header>
    <main>
        <section class="section section-contact" id="contacto">
            <div class="container contact-grid">
                <div class="map">
                    <!--Imagen simulada de mapa-->
                    <img src="../imagenes/mapa.png" alt="Ubicación Fondant">
                </div>
            <aside class="container-details">
            <h1>Contacto</h1>
            <p><strong>Dirección</strong>Calle mayor 12, La muela</p>
            <p><strong>Teléfono</strong>+34 624959042</p>
            <p><strong>Correo</strong>Joesgadu24@gmail.com</p>
            <h3>Síguenos</h3>
            <p>
            <a href="https://www.instagram.com/" aria-label="Instagram">Instagram</a>
            <a href="https://www.facebook.com/" aria-label="Facebook">Facebook</a>
            </p>
            </aside>
            </div>
        </section>
    </main>
    <footer class="site-footer">
        <div class="container footer-inner">
    <p>© 2025 Fondant.</p>
        </div>
        </footer>
        </body>

        </html>


